IMPORINTG THE REQUIRED LIBRARIES

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

IMPORTING THE DATASET

In [6]:
dataset=pd.read_csv(r'dataset/BreadBasket_DMS.csv')

In [7]:
dataset.head()

         Date      Time  Transaction           Item
0  2016-10-30  09:58:11            1          Bread
1  2016-10-30  10:05:34            2   Scandinavian
2  2016-10-30  10:05:34            2   Scandinavian
3  2016-10-30  10:07:57            3  Hot chocolate
4  2016-10-30  10:07:57            3            Jam

CLEANING THE DATASET.

In [8]:
#dropping ROWS WHICH CONTAINS ITEMS AS NONE IN IT 
dataset=dataset.mask(dataset.eq('NONE')).dropna()
#print(dataset.iloc[26,:])

In [9]:
unique_set_items=set(dataset.Item)
print(unique_set_items)
print(len(unique_set_items))

{'Hearty & Seasonal', 'Nomad bag', 'Basket', 'Raw bars', 'Raspberry shortbread sandwich', 'Empanadas', 'Scone', 'Crisps', 'Caramel bites', 'Jam', 'Juice', 'Toast', 'Half slice Monster ', 'Truffles', 'The Nomad', 'Scandinavian', 'Smoothies', 'Art Tray', 'Siblings', 'Extra Salami or Feta', 'Frittata', 'Pick and Mix Bowls', 'Sandwich', 'Duck egg', 'Vegan mincepie', 'Polenta', 'Bacon', 'Drinking chocolate spoons ', 'Bread', 'Bowl Nic Pitt', 'Mighty Protein', 'Coffee granules ', 'Focaccia', 'Tea', 'Crepes', 'Granola', 'Chocolates', 'Medialuna', 'Muffin', 'Olum & polenta', 'Keeping It Local', 'Bare Popcorn', 'Pintxos', 'Salad', 'Hot chocolate', 'Brioche and salami', 'Lemon and coconut', 'Bakewell', 'Jammie Dodgers', "Ella's Kitchen Pouches", 'Coke', 'Argentina Night', 'Postcard', 'Chimichurri Oil', 'Afternoon with the baker', 'Panatone', 'Cherry me Dried fruit', 'Tacos/Fajita', 'Chicken Stew', 'Fairy Doors', 'Baguette', 'Brownie', 'Honey', 'Tiffin', 'Spread', 'Fudge', 'Farm House', 'Kids biscuit', 'Bread Pudding', 'Victorian Sponge', 'Tshirt', 'Christmas common', 'My-5 Fruit Shoot', 'Dulce de Leche', 'Chicken sand', 'Coffee', "Valentine's card", 'Gift voucher', 'Muesli', 'Spanish Brunch', 'Mortimer', 'Vegan Feast', 'Tartine', 'Cookies', 'Pastry', 'The BART', 'Alfajores', 'Adjustment', 'Hack the stack', 'Eggs', 'Mineral water', 'Soup', 'Gingerbread syrup', 'Cake'}
94

In [10]:
print("TOTAL NUMBER OF TRANSACTIONS %d"%(len(set(dataset.Transaction))))

TOTAL NUMBER OF TRANSACTIONS 9465

In [12]:
#GETTING ALL THE ITEMS IN EACH TRANSACTION
transactions=dataset.groupby('Transaction')
transaction_list=list()

#OPENING FILE TO WRITE THE PROCESSED DATASET INTO.
processed_1=open("dataset/processed_1.csv","w")
#WRITING THE HEADER INFORMATION TO THE OPENED FILE.
processed_1.write("Transaction,Date,Time,Items\n")
#FOR EACH TRANSACTION 
for trans,group in transactions:
    
    #GETTING ALL THE ITMES ,TIME WHEN THE TRANSACTION WAS  MADE AND DATE .
    transaction_list.append([trans,list(group.Date)[0],list(group.Time)[0],list(set(group.Item))])
    # | is used to separate the items of a transaction in the processed csv file.
    #JOINING ALL THE TRANSACTION TO A SINGEL STRING SO THAT IT CAN BE WRITTEN TO THE CSV FILE
    items="|".join(list(set(group.Item)))
    #REPLACING ',' WITH WHITE SPACE SO THAT THE TRANSACTION OCCUPIES SINGLE CELL IN THE CSV FILE.
    #writing processed data to a file.
    data=str(trans)+','+list(group.Date)[0]+','+list(group.Time)[0]+','+items+'\n'
    processed_1.write(data)
    
#print(transaction_list)
processed_1.close()

In [13]:
processed_1=pd.read_csv("dataset/processed_1.csv")
processed_1.head()

   Transaction        Date      Time                      Items
0            1  2016-10-30  09:58:11                      Bread
1            2  2016-10-30  10:05:34               Scandinavian
2            3  2016-10-30  10:07:57  Hot chocolate|Jam|Cookies
3            4  2016-10-30  10:08:41                     Muffin
4            5  2016-10-30  10:13:03        Coffee|Bread|Pastry