IMPORTING THE REQUIRED LIBRARIES

In [1]:
import pandas as pd
import numpy as np

LOADING THE DATASET

In [2]:
old_dataset=pd.read_csv(r'dataset/BreadBasket_DMS.csv')
#old_dataset=dataset.mask(old_dataset.eq('NONE')).dropna()
old_dataset = old_dataset[old_dataset.Item != 'NONE']
unique_set_items=set(old_dataset.Item)
print(len(unique_set_items))

94

In [3]:
#INDEX LIST THAT MAPS ITESMS TO ITS INDEX FOR VECTORISATION
items_index=list(unique_set_items)
print(items_index)
print(old_dataset.head())

['Bread', 'Keeping It Local', 'Vegan mincepie', 'Muesli', 'Nomad bag', 'Brownie', 'Bowl Nic Pitt', 'Olum & polenta', 'Gingerbread syrup', 'My-5 Fruit Shoot', 'Empanadas', 'Crepes', 'Bacon', 'Lemon and coconut', 'Spread', 'Coke', 'Dulce de Leche', 'Bakewell', 'Afternoon with the baker', 'Panatone', 'Tea', 'Smoothies', 'Salad', 'Bare Popcorn', 'Sandwich', 'Honey', 'Drinking chocolate spoons ', 'Brioche and salami', 'Tacos/Fajita', "Valentine's card", 'Pastry', 'Toast', 'Jam', 'Chicken sand', 'Caramel bites', 'Half slice Monster ', 'Alfajores', 'Basket', 'Chocolates', 'Focaccia', 'Extra Salami or Feta', 'Cookies', 'Kids biscuit', 'Mineral water', 'Coffee granules ', 'Tiffin', 'Raspberry shortbread sandwich', 'Chicken Stew', 'Coffee', 'Cherry me Dried fruit', 'Duck egg', 'Christmas common', 'Farm House', 'Vegan Feast', 'Cake', 'Gift voucher', 'Frittata', 'Fudge', 'Mighty Protein', 'Hearty & Seasonal', 'Muffin', 'The Nomad', 'Chimichurri Oil', 'Siblings', 'Argentina Night', 'Tshirt', 'Crisps', 'Adjustment', 'Baguette', 'Scone', 'Jammie Dodgers', 'Granola', 'Juice', 'Mortimer', 'Pintxos', 'Soup', 'Bread Pudding', 'Eggs', 'Scandinavian', 'Hot chocolate', 'Spanish Brunch', 'Victorian Sponge', 'Polenta', 'Fairy Doors', 'Medialuna', 'Postcard', "Ella's Kitchen Pouches", 'Hack the stack', 'Art Tray', 'Truffles', 'Tartine', 'Pick and Mix Bowls', 'Raw bars', 'The BART']
         Date      Time  Transaction           Item
0  2016-10-30  09:58:11            1          Bread
1  2016-10-30  10:05:34            2   Scandinavian
2  2016-10-30  10:05:34            2   Scandinavian
3  2016-10-30  10:07:57            3  Hot chocolate
4  2016-10-30  10:07:57            3            Jam

RECOMMENDATION SYSTEM BASED ON ITEM-ITEM SIMILARITY

In [4]:


#get list of unique items
itemList=list(set(old_dataset["Item"].tolist()))
#get count of  transactions
transactionLength=len(list(set(old_dataset["Transaction"].tolist())))

#creating an empty data frame to store item affinity score for items.
itemAffinity=pd.DataFrame(columns=("item1","item2","score"))
rowcount=0

for item1 in range(len(itemList)):
    #getting the list of transaction which has this item 1
    item1trans=old_dataset[old_dataset.Item==itemList[item1]]["Transaction"].tolist()
    #getting the item2 that are not in item 1 or not analysed already
    
    for item2 in range(item1,len(itemList)):
        if(item1==item2):
            continue
        #get the list of transaction who bought item 2
        item2trans=old_dataset[old_dataset.Item==itemList[item2]]["Transaction"].tolist()
        #finding the common list of trnas and divide it by total number of trans
        commonTrans=len(set(item1trans).intersection(set(item2trans)))
        score=commonTrans/transactionLength
        
        itemAffinity.loc[rowcount]=[itemList[item2],itemList[item1],score]
        rowcount+=1

itemAffinity.head()

              item1  item2     score
0  Keeping It Local  Bread  0.002219
1    Vegan mincepie  Bread  0.001373
2            Muesli  Bread  0.000317
3         Nomad bag  Bread  0.000634
4           Brownie  Bread  0.010777

In [5]:
#recommending the top 3 produts to the user if the transaction is something like given below.
searchItem="Coffee"
recoList=itemAffinity[itemAffinity.item1==searchItem][["item2","score"]].sort_values("score",ascending=[0])
print("Recommnedations for item coffee")
print(recoList.head(3))

Recommnedations for item coffee
       item2     score
47     Bread  0.090016
1697     Tea  0.049868
2372  Pastry  0.047544