LOADING THE REQUIRED FILES<br/>
MINIMUM RAM REQUIRED 16GB

In [1]:

import pandas as pd
import numpy as np

import matplotlib.pyplot as plt

from sklearn.preprocessing import StandardScaler
from sklearn.metrics.pairwise import cosine_similarity
from sklearn.decomposition import MiniBatchDictionaryLearning
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeRegressor
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import mean_squared_error,f1_score 
import os
import warnings
warnings.filterwarnings('ignore')

%matplotlib inline

In [2]:
os.listdir("/datasete")

['departments_1.csv',
 'products_1.csv',
 'orders_1.csv',
 'order_products__train_1.csv',
 'order_products__prior_1.csv',
 'aisles_1.csv']

LOADING THE DATASETS

In [3]:
aisles = pd.read_csv("/dataset/aisles.csv")
departments = pd.read_csv("/dataset/departments.csv")
order_products__prior = pd.read_csv("/dataset/order_products__prior.csv")
order_products__train = pd.read_csv("/dataset/order_products__train.csv")
orders = pd.read_csv("/dataset/orders.csv")
products = pd.read_csv("/dataset/products.csv")

COMBINING PRODUCTS,DEPARTMENTS,AISLES with order_products_train datafram to get a common datframe

In [4]:
#joining all the files to a single data frame
dataset=order_products__train.merge(products,how="left",on="product_id")
dataset=dataset.merge(departments,how="left",on="department_id")
dataset=dataset.merge(aisles,how="left",on="aisle_id")
dataset.head()

   order_id          ...                          aisle
0         1          ...                         yogurt
1         1          ...           other creams cheeses
2         1          ...               fresh vegetables
3         1          ...               fresh vegetables
4         1          ...            canned meat seafood

[5 rows x 9 columns]

SETTING UP THE REGRESSION MODEL TO PREDICT WHETHER THE PRODUCT WILL BE RE-ORDERED OR NOT

In [5]:

X=dataset.drop(columns=["product_name","department","aisle","reordered"])
y=dataset.reordered

In [6]:
X.head()

   order_id  product_id      ...        aisle_id  department_id
0         1       49302      ...             120             16
1         1       11109      ...             108             16
2         1       10246      ...              83              4
3         1       49683      ...              83              4
4         1       43633      ...              95             15

[5 rows x 5 columns]

In [7]:
y.head()

0    1
1    1
2    0
3    0
4    1
Name: reordered, dtype: int64

SPLITTING THE DATASET INTO TRAINING AND TESTING DATA

In [8]:
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.30,random_state=42)

In [9]:
print(len(X_train),len(X_test))

969231 415386

INITIALISING THE REGREESSION MODEL AND FITTING IT WITH THE TRAINING DATA

In [10]:
reg=LogisticRegression()
reg.fit(X_train,y_train)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='warn',
          n_jobs=None, penalty='l2', random_state=None, solver='warn',
          tol=0.0001, verbose=0, warm_start=False)

F1 SCORE OF THE MODEL ON THE ORIGINAL DATA.

In [11]:
pred=reg.predict(X)
f1_score(y,pred)

0.7489009194281664

CALCULATING THE ACCURACY OF THE MODEL

In [12]:
reg.score(X_test,y_test)

0.5983855979739326

TESTING ON THE PRIOR DATASET

In [13]:

X=order_products__prior.drop('reordered',axis=1)
y=order_products__prior['reordered']

In [14]:
X.head()

   order_id  product_id  add_to_cart_order
0         2       33120                  1
1         2       28985                  2
2         2        9327                  3
3         2       45918                  4
4         2       30035                  5

RETRAINING THE REGRESSION MODEL AS THE <br/>FEATURES IN THE PRIOR DATASET IS LESSER THAN THE FEATURES IN THE ABOVE CONSTRUCTED 
DATASET.<br/>MINUMUM RAM REQUIRED 16GB

In [15]:

reg.fit(X,y)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='warn',
          n_jobs=None, penalty='l2', random_state=None, solver='warn',
          tol=0.0001, verbose=0, warm_start=False)

TESTING THE ACCURACY OF THE MODEL ON THE PRIOR DATA

In [17]:
reg.score(X,y)

0.5896974667922161